{#
# Copyright 2015 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}

{# [START employees_form] #}
{% extends "base.html.twig" %}

{% block content %}
<h3>{{action}} Empleado</h3>

<form method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="title">Nombres</label>
    <input type="text" maxlength="50" name="primer_nombre" id="title" value="{{employee.primer_nombre}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="author">Apellidos</label>
    <input type="text" maxlength="50" name="primer_apellido" id="author" value="{{employee.primer_apellido}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="published_date">Fecha Nacimiento</label>
    <input type="text" maxlength="10" name="fecha_nacimiento" id="published_date" value="{{employee.fecha_nacimiento}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="fecha_ingreso">Fecha Ingreso</label>
    <input type="text" maxlength="10" name="fecha_ingreso" id="published_date" value="{{employee.fecha_ingreso}}" class="form-control"/>
  </div>
  <a href="/employees/" class="btn btn-primary btn-sm">
    <i class="glyphicon glyphicon-arrow-left"></i>
    Regresar
  </a>
  <button id="submit" type="submit" class="btn btn-success">Save</button>

</form>

{% endblock %}
{# [END employees_form] #}
