{#
# Copyright 2015 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}

{# [START providers_form] #}
{% extends "base.html.twig" %}

{% block content %}
<h3>{{action}} Proveedores</h3>

<form method="POST" enctype="multipart/form-data">

  <div class="form-group">
    <label for="title">Organizacion</label>
    <input type="text" name="organizacion" id="title" value="{{provider.organizacion}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="author">Nombre</label>
    <input type="text" name="nombre" id="author" value="{{provider.nombre}}" class="form-control"/>
  </div>

  <div class="form-group">
    <label for="published_date">Apellidos</label>
    <input type="text" name="apellidos" id="published_date" value="{{provider.apellidos}}" class="form-control"/>
  </div>
  <div class="form-group">
    <label for="description">Email</label>
    <textarea name="email" id="description" class="form-control">{{provider.email}}</textarea>
  </div>

  <a href="/providers/" class="btn btn-primary btn-sm">
    <i class="glyphicon glyphicon-arrow-left"></i>
    Regresar
  </a>
  <button id="submit" type="submit" class="btn btn-success">Save</button>
</form>

{% endblock %}
{# [END providers_form] #}
