{#
# Copyright 2015 Google Inc.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#}

{% extends "base.html.twig" %}

{% block content %}

<h3>Proveedor</h3>
<form method="post" action="/providers/{{provider.id}}/delete" id="deleteForm">
  <div class="btn-group">
    <a href="/providers/{{provider.id}}/edit" class="btn btn-primary btn-sm">
      <i class="glyphicon glyphicon-edit"></i>
      Editar Proveedor
    </a>
    <button id="submit" type="submit" class="btn btn-danger btn-sm">
      <i class="glyphicon glyphicon-trash"></i>
      Eliminar Proveedor
    </button>
  </div>
</form>

{# [START provider_details] #}
<div class="media">
  <div class="media-body">
    <h4 class="book-title">
      {{provider.Organizacion}}
      <small>{{provider.email}}</small>
    </h4>
    <h5 class="book-author">By {{provider.nombre|default('Unknown', True)} {provider.apellido}}</h5>
  </div>
</div>
{# [END provider_details] #}

{% endblock %}
